html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}

body
{
    overflow: hidden;
    background-color: #f6f3e8;
    min-height: 280px;  
}

a
{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
a:hover
{
	color: #FFFFFF;
	background-color: #505050;
}


ul
{
    list-style-type: none;     
}
li
{
    display: inline;
    padding: 5px;
}

button
{
    padding: 14px 20px;
    background-color: #505050;
    border-radius: 12px;
    border: none;
    cursor:pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1em;
    display: inline-block;
}
button:hover
{
	background-color: #7F7F7F;	
}
button:active
{
	background-color: #7F7F7F;		
}
button:disabled
{
    background-color: #454545;
    color: #222222; 
    cursor: not-allowed; 
}



.green_btn
{
	background-color: #80C23C;
}
.green_btn:enabled:hover
{
	background-color: #A8E767;
}

.blue_btn
{
	background-color: #46D1F6;
}
.blue_btn:hover
{
	background-color: #77DDF8;
}

.blue_facebook_btn
{
    background-color: #3b5998;
}

.blue_facebook_btn:hover
{
    background-color: #6c8ac9;
}

.red_btn
{
    background-color: #E62117;
}
.red_btn:hover
{
    background-color: #FF5248;
}

.strikethrough
{
    text-decoration: line-through;
}

.disable-selection
{
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    cursor:default;
}