html { -webkit-font-smoothing: antialiased; }


.modal
{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	min-height: 240px;
	color: #FFFFFF;
	padding: 30px 0px;
	position: absolute;
	top: 50%;
	left:0px;	
	transform: translate(-50%, -50%) !important;
	text-align: center;

	transition: background .5s;

}

.modal:hover
{
	background-color: rgba(0, 0,0,.8);
}
.modal h1
{
	font-size: 5em;
	font-family: "Clarendon Bold";



	max-width: 880px;
	width: 70%;
	margin: 10px auto;
}
.modal p
{
	margin: 10px auto;
	font-style: italic;
	font-size: 2em;
	width: 70%;
	max-width: 880px;
	font-family: "Domine";
	font-weight: 300;

}
.modal button
{
	margin-top:10px;
}

#confirm
{
	visibility: hidden;
}

#intro_view
{
	display: none;
}

#intro.modal h1
{
	text-align: left;
}

#intro.modal p
{
	text-align: left;
}

#share
{
	visibility: hidden;
}

#share h1
{
	font-size: 4em;
}

#share input
{
	background: rgba(0,0,0,.5);
	color: #fff;
	width: 800px;
	padding: 12px;
	font-size: 2em;
	border-radius: 12px;
	border: none;
	font-family: "CoreSans Light";
	text-align: center;
	margin-bottom: 1em;
	cursor: text;
}

#share input::selection
{
	background: #80C23C;
}

#header
{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0px 0px 24px 24px;
    border: none;
	min-width: 460px;
	visibility: hidden;
}


#content
{

}

#audio
{
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 2em;
	color: black;
}

#audio a
{
	border-radius: 12px;
	cursor: pointer;
	padding: 8px;
}

#footer
{
	position: absolute;
	bottom: 0;
	padding:20px;
	background-color: #f6f3e8;
	border-radius: 24px 24px 0px 0px;
	font-family: "CoreSans Light";

}

#footer a
{
	font-weight: normal;
	font-family: "CoreSans Black";
}

.center
{
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

button
{
	font-family: 'CoreSans Black';
	font-size: 14pt;
	position: relative;
}

button#loading:disabled
{
	background: #000;
}


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 50px 0; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 50px 0; }
}


button#loading:disabled .bkg
{
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 10%;
	height: 100%;
	background: url("../imgs/chrome/stripe.png") #80C23C top left repeat;
	border-radius: 11px;

	animation: animatedBackground 1s linear infinite;
	-webkit-animation: animatedBackground 1s linear infinite;

}

button#loading:disabled .text
{
	
}

h1 span
{
	font-weight: normal;
}