/* Remove margins and HTML scrollbars */
#header
{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0px 0px 24px 24px;
    border: none;
	
}
#header ul
{
	list-style-type: none;
    padding:0px;
    margin:0px;
    min-width: 430px;    
}
#header li
{
	display: inline;
	padding: 5px;
	margin: 0px;
}

#content
{

}

#footer
{
	position: absolute;
	bottom: 0;
}

.center
{
    text-align: center;
    left: 50%;
    margin-right: -50%;    
    transform: translate(-50%, 0);
}